/*Blog Article Styling*/


.blog-article-container {
	display: fixed;
	justify-content: center;
}

.blog-article-image {
	width: 100%;
	height: 300px;
	overflow-y: hidden;
	z-index: 995;
	position: relative;
}
@media (max-width: 768px) {
	.blog-article-image {
		width: 100%;
	}
}


	.blog-article-body {
	background-color: lightblue;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: -30px;
	z-index: 996;
	max-width: 800px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
@media (max-width: 541px) {
.blog-article-body {
	background-color: lightblue;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: -30px;
	z-index: 996;
	max-width: 800px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
 }
}

	.blog-article-body-2 {
	background-color: lightblue;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: -30px;
	z-index: 996;
	max-width: 900px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
 }

@media (max-width: 992px) {
	.blog-article-body-2 {
	background-color: lightblue;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: -30px;
	z-index: 996;
	max-width: 800px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
 }
}
@media (max-width: 541px) {
.blog-article-body-2 {
	background-color: lightblue;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: -30px;
	z-index: 996;
	max-width: 800px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
 }
}

.blog-article-title {
	font-size: 32px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 20px;
}

@media (max-width: 768px) {
	.blog-article-title {
	font-size: 24px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
}
}

.blog-article-metadata {
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 40px;
}

@media (max-width: 768px) {
	.blog-article-metadata {
	padding-left: 40px;
	padding-right: 40px;
 }
}


.blog-article-author {
	margin-right: 40px;
	color: #666666;
	font-size: 12px;

}


.blog-article-author-avatar {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	margin-right: 5px;
}


.blog-article-publish-date {
	font-size: 12px;
	color: maroon;

}


.blog-article-content p, h1 {
	padding-left: 80px;
	padding-right: 80px;
}


@media (max-width: 768px) {
	.blog-article-content p, h1 {
	padding-left: 20px;
	padding-right: 20px;
 }
}
.blog-article-footer {

}


.blog-article-footer p, h1, h3 {
	padding-left: 80px;
	padding-right: 80px;
}


@media (max-width: 768px) {
	.blog-article-footer p, h1, h3 {
	padding-left: 20px;
	padding-right: 20px;
 }
}


.article-related-content {
	padding-bottom: 20px;
	padding-left: 40px;
}

.article-related-content a {
	color: darkblue;

}

.article-related-content h3 {
	font-size: 18px;

}

.article-related-content ul {
	list-style: none;

}


/*share options*/

/* Optional: Adjust the styles as needed */
.share-section {
  display: flex;
  align-items: center;
}

.share-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.share-text {
  margin: 0 10px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  color: darkblue;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.copy-link {
  cursor: pointer;
  color: darkblue;
  margin-left: 10px;
  border: 1px;
  border-color: #007bff;;
}

/* Optional: Style the link on hover */
.copy-link:hover {
  text-decoration: underline;
}



/* newsleter*/

.newsletter-subscription {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.newsletter-subscription h4 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.newsletter-subscription h4 i {
  margin-right: 10px;
}


.newsletter-subscription form {
  display: flex;
  align-items: center;
}

.newsletter-subscription input[type="email"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.newsletter-subscription input[type="submit"] {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.newsletter-subscription input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .newsletter-subscription form {
    flex-direction: column;
    align-items: stretch;
  }

  .newsletter-subscription input[type="email"] {
    flex: none;
    width: 100%;
    margin-right: 0;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .newsletter-subscription input[type="submit"] {
    margin-top: 10px;
    flex: none;
      margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  }
}
