
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background:linear-gradient(to bottom, #93BFDA 0%, white 15%);
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 540px) {
  body {
    background: linear-gradient(to bottom, #93BFDA 0%, white 5%);
  }
}

a {
  color: #666666;
}

a:hover, a:active, a:focus {
  color: #800000;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
.hq {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #666666;
}

}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}


/* Breadcrumbs*/

.breadcrumb {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 80px;
}

@media (max-width: 992px) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb-item {
  font-size: 12px;
  margin: 0;
  padding-right: 5px;
  padding-left: 0;
  color: rgba(12, 20, 43, 1.0);
  background-color: rgba(0, 0, 0, 0);
}


.breadcrumb-item .active {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "›"; /* You can change the separator symbol as desired */
  margin: 0 4px; /* Adjust the spacing between items and separator */
}

@media (max-width: 768px) {
  .breadcrumb {
  padding-left: 20px;
  margin: 0;
 }

 .breadcrumb-item {
  font-size: 8px;
  margin: 0;
  padding-right: 5px;
  padding-left: 0;
  padding-top: 5px;
 }
}



/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #800000;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #800000;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  background-color: rgba(12, 20, 43, 1);
  z-index: 997;
  padding-right:60px;
  padding-left: 60px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
@media (max-width: 1024px) {
  #header {
      padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  background-color: rgba(12, 20, 43, 1);
  z-index: 997;
  padding-right:60px;
  padding-left: 60px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  }
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

@media (max-width: 768px) {

  #header {
    padding-left: 20px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: rgba(12, 20, 43, 0.8);
  padding: 20px 0;
  height: 92px;
  padding-left: 10px;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  #header.header-fixed {
  background: rgba(12, 20, 43, 0.8);
  padding: 20px 0;
  height: 77px;
  padding-left: 10px;
  transition: all 0.5s;
}
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../img/hero2.png) top center fixed;
  background-size: cover;
  background-color: linear-gradient(to bottom, #93BFDA 0%, white 12%);
  margin-bottom: 40px;
}

@media (max-width: 540px) {
  #hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background: url(../img/hero2.png) top center fixed;
  background-size: cover;
  background-color: linear-gradient(to bottom, #93BFDA 0%, white 5%);
  }
}

#hero .hero-container {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  margin: 0;
  padding: 0 10px;
 width: 100%;
 height: 100%;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 150px;
  font-weight: 700;
  line-height: 100px;
  text-shadow: 4px 4px 8px black;
  text-transform: uppercase;
  font-family: montserrat sans-serif;
  color: #800000;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 120px;
    line-height: 45px;
    font-family: montserrat sans-serif;
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
    #hero h1 {
    font-size: 100px;
    line-height: 45px;
    margin-bottom: 10px;
    font-family: montserrat sans-serif;
  }
}


#hero h2 {
  color: #000000;
  margin-bottom: 50px;
  line-height: 24px;
  font-size: 24px;
  font-weight: 1000;
  letter-spacing: 2px;
  font-family: montserrat sans-serif;
  text-shadow: 1px 1px 2px white;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px white;
    font-weight: 1000;
    font-family: montserrat sans-serif;
    letter-spacing: 0px;
  }
}

@media (max-width: 540px) {
     #hero h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px white;
    font-weight: 1000;
    margin-top: 25px;
    font-family: montserrat sans-serif;
    letter-spacing: 0px;
  }
}

#hero h3 {
  color: #800000;
  margin-bottom: 25px;
  font-size: 22px;
  
}

@media (max-width: 768px) {
  #hero h3 {
    font-size: 14px;
    line-height: 2px;
    margin-bottom: 15px;
  }
}



#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #800000;
  color: #800000;
  box-shadow: 2px 4px 8px black;
}

#hero .btn-get-started:hover {
  background: #800000;
  border: 2px solid #fff;
  color: #fff;
}
@media (max-width: 768px){
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #800000;
  color: #800000;
  }
#hero .btn-get-started:hover {
  background: #800000;
  border: 2px solid #fff;
  color: #fff;
  }
}

.left-content {
  text-align: center;
  padding-top: 100px;
  transform: translateX(180px);
}
@media (max-width: 992px) {
  .left-content {
  text-align: center;
  padding-top: 100px;
  transform: translateX(120px);
 }
}

@media (max-width: 768px) {
  .left-content {
  text-align: center;
  padding-top: 100px;
  transform: translateX(100px);
 }
}

@media (max-width: 540px) {
  .left-content {
  text-align: center;
  padding-top: 100px;
  transform: translateX(30px);
 }
}

#hero{
  opacity: 0; /* Initially hide the hero content */
  animation: fadeInHero 0.2s ease-in forwards 0.5s; /* Show the hero content after a delay of 3 seconds */
}

@keyframes fadeInHero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h1-fadein {
  opacity: 0; /* Initially hide the hero content */
  animation: fadeInH1 1s ease-in forwards 1.5s; /* Show the hero content after a delay of 1.5 seconds */
}

@keyframes fadeInH1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h2-fadein {
  opacity: 0; /* Initially hide the hero content */
  animation: fadeInH2 1.7s ease-in forwards 2.0s; /* Show the hero content after a delay of 2.0 seconds */
}

@keyframes fadeInH2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h3-fadein {
  opacity: 0; /* Initially hide the hero content */
  animation: fadeInH3 0.5s ease-in forwards 0.9s; /* Show the hero content after a delay of 0.9 seconds */
}

@keyframes fadeInH3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-get-started {
  opacity: 0; /* Initially hide the hero content */
  animation: fadeInBtnGetStarted 2.3s ease-in forwards 3.7s; /* Show the hero content after a delay of 4.3 seconds */
}

@keyframes fadeInBtnGetStarted {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

 .nav-menu a {
  padding: 0 4px 8px 4px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  outline: none;
}
}
.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 992px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #800000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #800000;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  padding-top: 9px;
  background: none;
  padding-right: 20px;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #800000;
}

@media (max-width: 992px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.5);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 1.2s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #800000;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #800000;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #fff;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 10px;
  top: 110px;
  bottom: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body.mobile-nav-active #mobile-nav {
   top: 95px; 
}
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #800000;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
  padding-top: 30px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}

/* What we do Section
--------------------------------*/

    .what-carousel {
      width: 730px;
      height: 370px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .what-carousel ul {
      list-style: none;
      width: 2100px;
      height: 300px;
      position: absolute;
      transition: left 1s;
    }
    .what-carousel li {
      float: left;
      width: 233.33px;
      height: 300px;
      text-align: center;
    }
    .what-carousel li img {
      display: block;
      margin: 0 auto;
    }
    .what-carousel li span {
      display: block;
      margin-top: 5px;
      color: maroon;
      font-size: 16px;
      font-weight: bold;
    }

        /* Media queries */
    @media (max-width: 992px) { /* For tablets */
      .what-carousel li {
        max-width: 50%; /* Show 2 images on tablets */
      }
    }

    @media (max-width: 768px) { /* For mobile phones */
      .what-carousel li {
        max-width: 50%; /* Show 1 image on mobile phones */
      }
      .what-carousel {
      width: 300px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      margin-bottom: 20px;
      }
    }



        .what-carousel li img {
      display: block;
      margin: 0 auto;
    }


/* About Us Section
--------------------------------*/
#about {
  padding: 30px 0;
  background: url(../img/bg_about.png);
  display: block;
  margin-bottom: 50px;
  padding-top: 20px;
}

#about a {
  color: skyblue;
}

#about a:hover {
  color: maroon;
}

@media (max-width: 768px) {
  #about {
    margin-bottom: 40px;
  }
}

#about .about-container .background {
  min-height: 300px;
  background: url(../img/mobile.png) center top no-repeat;
  margin-bottom: 5px;
}

#about .about-container .content {
  background: rgba(255, 255, 255, 0.1);
}

#about .about-container .title {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
    font-size: 20px;
  }

  #about {
  background: fff;
  padding: 0px 0;
}

  #about .about-container .background {
    display: block; /* Show the mobile.png image on smaller screens */
  }
}

@media (min-width: 992px) {
  #about .about-container .background {
    display: none; /* Hide the mobile.png image on laptop screens */
  }
}

#about .about-container p {
  line-height: 26px;
  color: rgba(200, 200, 200, 1.0);
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
 #about .about-container p {
  line-height: 26px;
  color: rgba(200, 200, 200, 1.0);
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
} 
#about .about-container .content {
  background: rgba(255, 255, 255, 0);
}
}


#about .about-container p:last-child {
  margin-bottom: 35px;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 15px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  padding: 16px;
  border-radius: 50%;
  border: 2px solid #800000;
}

#about .about-container .icon-box .icon i {
  color: #800000;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .about-container .icon-box .title a {
  color: #111;
  line-height: 24px;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}



/* Our Work Section
--------------------------------*/
#our-work {
  background: #fff;
}


.our-work-tn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}

.our-work-tn-container .col-lg-4,
.our-work-tn-container .col-md-6 {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 450px) {
  .our-work-tn-container .col-lg-4,
  .our-work-tn-container .col-md-6 {
    margin-bottom: 20px;
  }
}

.our-work-tn-container .col-lg-4 img,
.our-work-tn-container .col-md-6 img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  transition: transform 0.3s ease;
}

.our-work-tn-container .col-lg-4:hover img,
.our-work-tn-container .col-md-6:hover img {
  transform: scale(1.1);
}

.our-work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.our-work-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 4px 6px black;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
}

/* Client Section
--------------------------------*/
    .carousel-client-container {
      position: relative;
      width: 800px;
      height: auto;
      margin: 0 auto;
      padding-top: 40px;
      overflow: hidden;
       background-color: rgba(0, 0, 0, 0);
    }

@media (max-width: 768px) {
  .carousel-client-container {
      position: relative;
      width: 550px;
      margin: 0 auto;
      overflow: hidden;
       background-color: rgba(0, 0, 0, 0);
    }
}

@media (max-width: 556px) {
  .carousel-client-container {
      position: relative;
      width: 350px;
      margin: 0 auto;
      padding-top: 15px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
    }
}

    .carousel-client {
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 40px;
      overflow: hidden;
    }

    .carousel-client-item {
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
    }
    .carousel-client-item .image-client-container {
      display: inline-block;
      width: 210px;
      height: auto;
      overflow: hidden;
      margin: 0 auto;
    }
    .carousel-client-item img {
      width: 60%;
      height: auto;
      object-fit: cover;
      margin: 0 auto;

    }
    .carousel-client-controls {
      position: absolute;
      top: 70%;
      transform: translateY(-50px);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
      opacity: 0.2;
    }
    .carousel-client-controls .slick-prev {
      order: -1;
      transform: translateX(-0px);
      background-color: #fff;
      border: none;
    }
    .carousel-client-controls .slick-next {
      order: 1;
      transform: translateX(0px);
      background-color: #fff;
      border: none;
    }
    .carousel-client-control-btn {
      font-size: 30px;
      padding: 5px;
      opacity: 0.5;
      
      background-color: #fff;
      border: none;
      cursor: pointer;
    }

    /* Testimonial Section
--------------------------------*/

    .fact-carousel-container {
      width: 100%;
      margin: 0;
      padding: 0;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 40px;
      background-color: grey;
      
    }

    .fact-carousel-title {
      text-align: center;
      padding-top: 40px;
      font-size: 32px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      color: #fff;
    }

    .fact-carousel {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      padding-top: 50px;
      margin-bottom: 70px;
      padding-right: 0;
      overflow: hidden;
      padding-left: 10px; /* Ensure only one testimonial is visible at a time */
    }

        @media (max-width: 992px) {
      .fact-carousel {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      padding-top: 50px;
      padding-right: 0;
      overflow: hidden; /* Ensure only one testimonial is visible at a time */
    }
    }

    @media (max-width: 768px) {
      .fact-carousel {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      padding-top: 50px;
      padding-right: 0;
      overflow: hidden; /* Ensure only one testimonial is visible at a time */
    }
    }

    .testimonial-box {
      width: 310px;
      height: 320px;
      background-color: white;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      display: flex;
      padding-top: 20px;
    }

    .testimonial-content {
      height: 250px;
      width: 310px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
      margin: 0 auto;
      transition: transform 0.5s;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
      transform-origin: center center;
      margin-left: auto;
      margin-right: auto;
    }

    .light-blue-bg {
      background-color: lightblue;
    }

    .dark-blue-bg {
      background-color: rgba(12, 20, 43, 1.0);
    }

    .dark-blue-text {
      color: darkblue;
    }

    .light-blue-text {
      color: lightblue;
    }

    .testimonial-box:not(:last-child) {
      margin-right: 40px;
    }

    .testimonial-content:hover {
      transform: scale(1.1);
    }

    .client-name {
      font-size: 15px;
      font-weight: bold;
      margin-top: auto;
      padding: 10px;
    }

    /* Media query for smaller screens */
     @media (max-width: 992px){
             .fact-carousel {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      margin-top: 20px;
      padding-right: 0;
      overflow: hidden;
      padding-left: 10px;
              }
      .testimonial-box {
        width: 100%;
        height: 300px;
        background-color: #fff;
         margin-left: auto; /* Add this line to center the carousel content */
         margin-right: auto;
         margin-top: 0;
      }
            .slick-prev,
      .slick-next {
        display: none;
      }
      .testimonial-content {
      height: 250px;
      width: 290px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 40px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
      margin: 0 auto;
      transition: 0.5s;
      box-shadow: 4 6px 10px rgba(0, 0, 0, 0.9);
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
      }
      .testimonial-content:hover {
      transform: none;
      }
      .slick-dots {
    position: static; /* Remove absolute positioning */
    display: flex; /* Display dots horizontally */
    justify-content: center; /* Center dots horizontally */
    margin-top:7px; /* Add some spacing */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  .slick-dots li {
    margin: 0 10px; /* Adjust spacing between dots */
  }
  .slick-dots li button {
    font-size: 0; /* Hide the numbers */
    background: none; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
  }
  .slick-dots li button:before {
    content: "•"; /* Display dots symbol */
    color: maroon; /* Customize dot color */
    font-size: 30px; /* Adjust dot size if needed */
  }
  .slick-dots li.slick-active button:before {
    color: lightblue; /* Customize active dot color */
  }
      .testimonial-box:not(:last-child) {
      margin-right: 30px;
    }
     }
    @media screen and (max-width: 768px) {
       .fact-carousel {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      margin-top: 20px;
      padding-right: 0;
      overflow: hidden;
      padding-left: 10px;
              }
      .testimonial-box {
        width: 100%;
        height: 300px;
        background-color: #fff;
         margin-left: auto; /* Add this line to center the carousel content */
         margin-right: auto;
         margin-top: 0;
      }

       .fact-carousel-title {
      text-align: center;
      padding-top: 30px;
      font-size: 32px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      color: #fff;
    }
      .slick-prev,
      .slick-next {
        display: none;
      }

      .testimonial-content {
      height: 250px;
      width: 300px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      margin: 0 auto;
      transition: 0.5s;
      box-shadow: 4 6px 10px rgba(0, 0, 0, 0.9);
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border-radius: 5px;
      }
      .testimonial-content:hover {
      transform: none;
      }
 .slick-dots {
    position: static; /* Remove absolute positioning */
    display: flex; /* Display dots horizontally */
    justify-content: center; /* Center dots horizontally */
    margin-top:7px; /* Add some spacing */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  .slick-dots li {
    margin: 0 10px; /* Adjust spacing between dots */
  }
  .slick-dots li button {
    font-size: 0; /* Hide the numbers */
    background: none; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
  }
  .slick-dots li button:before {
    content: "•"; /* Display dots symbol */
    color: maroon; /* Customize dot color */
    font-size: 30px; /* Adjust dot size if needed */
  }
  .slick-dots li.slick-active button:before {
    color: lightblue; /* Customize active dot color */
  }
      .testimonial-box:not(:last-child) {
      margin-right: 12px;
    }
    }



/* Informed Tv Section
--------------------------------*/
#informed-tv {
  background: #fff;
}


.inform-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.inform-container .col-lg-4,
.inform-container .col-md-6 {
  position: relative;
  box-shadow:2px 8px 6px rgba(0, 0, 0, 0.7);
}

.image-body {
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .inform-container .col-lg-4,
  .inform-container .col-md-6 {
    margin-bottom: 20px;
  }
}

.inform-container .col-lg-4 img,
.inform-container .col-md-6 img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  transition: transform 0.3s ease;
}

.inform-container .col-lg-4:hover img,
.inform-container .col-md-6:hover img {
  transform: scale(1.1);
}

.inform-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.inform-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 4px 6px black;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: none;
}

.card-title {
  color: maroon;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.card-text {
  color: grey;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}

.blog-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: red;
  text-decoration: none;
}
.card-body {
margin-top: 20px;
padding-left:;
}

.blog-type {
  text-transform: uppercase;
  text-decoration: none;
}

.blog-date {
  font-style: italic;
  text-decoration: none;
}


/* The styles to hide the article container */
#article-container {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#article-container.active {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

#article-container.hidden {
  opacity: 0;
   pointer-events: none;
}

#article-content {
  position: relative;
    max-width: 800px;
  background-color: #F8F8F8;
  color: #333;
  border-radius: 10px;
  overflow-y: auto;
  height: 90%;
  box-shadow: 2px 4px 8px black;
}

@media (max-width: 450px) {
  #article-content {
    max-width: 100vw;
  background-color: #F8F8F8;
  color: #333;
  border-radius: 10px;
  overflow-y: auto;
  height: 90%;
  box-shadow: 2px 4px 8px black;
}
}

#article-content.scrollable {
  max-height: 300px; 
  background-blend-mode: overlay;
}

#close-button {
  position: absolute;
  top: 40px;
  right: 300px;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: yes;
 }

 @media (max-width: 992px) {
  #close-button {
  position: absolute;
  top: 50px;
  right: 20px;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
    transform: translateX(150px);
  }
 }


@media (max-width: 540px) {
#close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
 }
}


.hide {
  display: none;
}

#close-button:focus {
  outline: none;
}

.main-page-inactive {
  overflow: hidden;
}

#article-container.active {
  pointer-events: auto;
  overflow-y: auto;
}

.inactive-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  pointer-events: none;
}


.explore-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);
  margin: 10px;
  margin-top: 20px;
  border: 2px solid #800000;
  color: #fff;
  background: #800000;
}

@media (max-width: 540px) {
  .explore-btn {
    margin-top: -2px;
  }
}
.explore-btn:hover {
  background: #800000;
  border: 2px solid #fff;
  color: #fff;
}




/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}

#contact .form #sendmessage {
  color: #800000;
  border: 1px solid #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background-color: rgba(12, 20, 43, 1.0);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #800000;
}

/*--------------------------------------------------------------
# Pre-Footer
--------------------------------------------------------------*/
/* Prefooter Section Styles */
#prefooter {
  padding: 40px 0;
  margin-bottom: -8px;
  margin-right: 3px;
  margin-left: 3px;
  background-image: url("/img/pre-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 540px) {
  #prefooter {
    background-image: url("/img/pre-footer-sm.png");
  }
}

.pre-cover {
  background-color: rgba(250, 250, 250, 0.5);
  padding: 15px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 1.0);
}


#prefooter h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgba(12, 20, 43, 1.0);
}


#prefooter ul {
  list-style: none;
  padding: 0;
}

#prefooter li {
  margin-bottom: 15px;
    font-size: 15px;
}

/* social buttons styling */
.after-twitter {
  padding: 7px 6px 3px 6px;
  border: 2px;
  background-color: rgba(29, 161, 242, 1);
  border-radius: 0 4px 4px 0;
}

.after-facebook {
  padding: 7px 6px 3px 6px;
  border: 2px;
  background-color: rgba(59, 89, 152, 1);
  border-radius: 0 4px 4px 0;
}

.after-linkedin {
  padding: 7px 6px 3px 6px;
  border: 2px;
  background-color: rgba(0, 119, 181, 1);
  border-radius: 0 4px 4px 0;
}
.after-yt {
  padding: 7px 6px 3px 6px;
  border: 2px;
  background-color: rgba(255, 0, 0, 1);
  border-radius: 0 4px 4px 0;
}

.after {
  color: #fff;
  font-size: 10px;
}

@media (max-width: 768px) {
  .after {
  color: #fff;
  font-size:10px;
  padding: 7.5px 6px 3px 6px;
}
}

.before {
  padding: 2px 4px 2px 4px;
  border: 2px;
  color: #fff;
  background-color: grey;
  border-radius: 4px 0 0 4px;
}

/* Define the keyframes for the spinning animation */
@keyframes spin {
  0% { transform: rotateX(360deg); }
  100% { transform: rotateX(0deg); }
}


@media (max-width: 768px) {
  #prefooter li {
  font-size: 14px;
  margin-bottom: 12px;
}
}

#prefooter li i {
  margin-right: 10px;
}

.pre-footer-social-media {
  list-style: none;
  padding: 0;
  color: rgba(12, 20, 43, 1.0);
}

.reach-us i {
  color: rgba(12, 20, 43, 1.0);
}

.pre-footer-social-media li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pre-footer-social-media li i {
  margin-right: 10px;
}

.pre-footer-social-Qlinks {

}

#pre-footer-newsletter {
  display: flex;
  align-items: center;
}

/* Newsletter Form Styles */
#newsletter-form {
  display: flex;
  flex-wrap: wrap;
}

#newsletter-form .form-group {
  flex: 1;
  margin-right: 10px;
}

#newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#newsletter-form button {
  width: 100%;
  padding: 10px;
  background-color: rgba(12, 20, 43, 1.0);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(12, 20, 43, 1.0);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}


/*.....slider...*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.0s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



/* Styles for Pages */


.pages-banner-section {
  position: relative;
}

.img-fluid {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.overlay-pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
 
  background: linear-gradient(400deg, rgba(173, 216, 230, 1) 10%, rgba(173, 216, 230, 0) 100%);
}

.pages-banner-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pages-banner-heading {
  font-size: 60px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 1.0);
  font-weight: 700;
  color: white;
  text
}

.pages-banner-subheading {
  font-size: 24px;
  color: rgba(12, 20, 43, 1.0);
  font-weight: 500;
}

.pages-body {
  margin: -100px 100px 0 100px;
  z-index: 20;
  position: relative;
}

@media (max-width: 992px) {
  .pages-banner-heading {
    font-size: 40px;
  }
  .pages-banner-subheading {
    font-size: 20px;
  }
    .img-fluid {
    height: 40vh;
    object-fit: cover; /* Adjust the height as needed for small screens */
  }
  .pages-body {
  margin: -100px 50px 0 50px;
  z-index: 20;
  position: relative;
 }
}

@media (max-width: 768px) {
  .img-fluid {
    height: 50vh;
      object-fit: cover;
  }
    .pages-body {
  z-index: 20;
  position: relative;
 }
   .pages-body {
  margin: -50px 50px 0 50px;
  z-index: 20;
  position: relative;
 }
}


@media (max-width: 540px) {
  .pages-banner-section{
    height: 40%;
    width: auto;
  }
  .pages-banner-heading {
    font-size: 24px;
  }
  .pages-banner-subheading {
    font-size: 10px;
  }
  .pages-banner-content {
    text-align: right;
      top: 70%;
  left: 50%;
  transform: translate(-30%, -50%);
  }
}


@media (max-width: 450px) {
  .pages-body {
    margin: -20px 10px 10px;
  }
}


/* Styles for the content boxes */
.content-box {
  border: 2px solid #ccc;
  padding: 10px;
}

.centered-content {
  text-align: left;
}

.content-image {
  width: 100%; /* Set a fixed width as needed for the images */
  max-height: 300px; /* Set a maximum height for the images */
  object-fit: cover;
}

.content-box h3 {
  font-size: 24px;
  color: rgba(12, 20, 43, 1.0);
  padding-top: 30px;
  font-weight: 500;
}


.content-box h3:hover {
  color: maroon;
}

.content-box p {
  padding: 20px;
}


.btn-get-quote {
  background: rgba(12, 20, 43, 1.0);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-bottom: 60px;
}

.btn-get-quote:hover {
  background-color: #b3c0d6;
  color: rgba(12, 20, 43, 1.0);
}

/* Adjust the button style for smaller screens */
@media (max-width: 768px) {
  .btn-get-quote {
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  .content-box {
  border: 2px solid #ccc;
  padding: 5px;
}
  .content-box p {
  padding: 10px;
}
}


/* infomred tv page */


  .custom-container {
      padding-left: 15px;
      padding-right: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    /* Responsive rules for the custom container class */
    @media (min-width: 576px) {
      .custom-container {
        max-width: 540px; /* Adjust as needed */
      }
    }
    @media (min-width: 768px) {
      .custom-container {
        max-width: 720px; /* Adjust as needed */
      }
    }
    @media (min-width: 992px) {
      .custom-container {
        max-width: 960px; /* Adjust as needed */
      }
    }
    @media (min-width: 1200px) {
      .custom-container {
        max-width: 1140px; /* Adjust as needed */
      }
    }

    /* Overlay styles */
    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
      display: flex;
      flex-direction: column;
     transition: background-color 0.6s ease;
    }

    .image-overlay:hover  {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .image-overlay-center {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin: 5px;
      text-shadow: 3px 2px 3px black;
    }
    .image-overlay-bottom {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
    }
    .image-overlay-bottom-date {
      color: #fff;
      font-size: 11px;
      margin: 0 10px 10px;
    }

    .image-overlay-bottom-type {
      color: #fff;
      font-size: 11px;
      margin: 0 20px 10px;
      font-weight: 700;
    }

    /* Set a fixed height for the images and overlay */
    .tv-img-contain {
      position: relative;
      height: 200px; /* Adjust the height as needed */
      overflow: hidden;
      border-radius: 3px;
    }
    .img-overlay {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }

    /* Add spacing between rows and margins between containers */
    .row-spacing {
      margin-bottom: 10px; /* Adjust the spacing between rows as needed */
    }

    .col-margin {
      margin-bottom: 10px;
    }


    /* style type */

    .health {
      padding: 2px 15px 2px 15px;
      background-color: green;
      border-radius: 10px 0; 
    }

  .weekend-vibes {
     padding: 2px 15px 2px 15px;
      background-color: red;
      border-radius: 10px 0; 
  } 
  .tech {
      padding: 2px 15px 2px 15px;
      background-color: blue;
      border-radius: 10px 0; 
  } 
  .fashion {
      padding: 2px 15px 2px 15px;
      background-color: orange;
      border-radius: 10px 0; 
  }

  .fitness{
      padding: 2px 15px 2px 15px;
      background-color: brown;
      border-radius: 10px 0; 
  }



    /* construction container styles */
    .construction-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 500px; /* Set the container height as needed */
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 40px;
      background-color: skyblue;
      opacity: 0.8;
      box-shadow: 2px 4px 6px black;
    }
    .icon {
      font-size: 150px;
      margin-bottom: 10px;
      animation: rotateIcon 2s infinite linear;
      color: rgba(12, 20, 43, 1);
    }
    .heading {
      font-size: 36px;
      font-weight: bold;
      color: white;
      text-shadow: 3px 2px 3px black;
    }



    /* CSS Animation for rotating the icon */
    @keyframes rotateIcon {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .block-container {
  display: flex;
  align-items: center;
}

.block {
  width: 30px;
  height: 15px;
  background-color: rgba(12, 20, 43, 1);
  margin: 10px;
  opacity: 0;
}

@keyframes blockAnimation {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

    /* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .construction-container {
    height: 300px; /* Adjust the container height for smaller screens */
  }

  .icon {
    font-size: 100px; /* Reduce the icon size for smaller screens */
  }

  .heading {
    font-size: 24px; /* Reduce the heading size for smaller screens */
  }

  .block {
  width: 20px;
  height: 10px;
}

@media (max-width: 540px) {
  .construction-container {
    height: 300px; /* Adjust the container height for smaller screens */
  }

  .icon {
    font-size: 100px; /* Reduce the icon size for smaller screens */
  }

  .heading {
    font-size: 20px; /* Reduce the heading size for smaller screens */
  }

  .block {
  width: 10px;
  height: 5px;
}
